@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

.mainbox a {
    width: 288px;
    display: block;
    background: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

a {
    text-decoration: none;
}
.mainbox img{
    width: 100%;
  aspect-ratio: 288/196;
  object-fit: cover;
  vertical-align: top;
}
.text-box {
    padding: 20px 16px 16px;
    width: 256px;
    
}

h2 {
    font-family: 'Pretendard';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
color: #29363D;
margin-top: 5px;
}

h2 + p {
    font-family: 'Pretendard';
font-size: 12px;
line-height: 20px;
color: #5A6A72;
overflow:hidden;  
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

p:last-child {
padding-left: 6px;
font-family: 'Pretendard';
font-style: normal;
font-weight: bold;
font-size: 14px;
text-decoration-line: underline;
color: #29363D;
margin-top: 20px;
margin-bottom: 0;
}

.mainbox {
  /* padding: 56px 88px; */
  display: grid;                                                /* autofit은 반응형처럼 늘어나는거 */
  grid-template-columns: repeat(auto-fill ,minmax(288px,1fr));  /* repeat(4,1fr);/ repeat(auto-fill ,minmax(288px,1fr)); 하고 width 값을 풀어야함. */
  gap: 32px 24px;
  width: min(1224px, calc(100% - 60px));
  margin:auto;
}
